html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #181b23;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #328bc2;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
